/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pages/home/home.css ***!
  \***************************************************************************/
.home.section-article {
   margin-bottom: auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 0;
   margin-top: auto;
   margin-bottom:200px ;
}

.home.section-article h4 b {
   font-weight: 300;
}

.home.section-graphic{
   align-items: end;
}

.home.section-graphic button{
   height: 250px;
   width: 250px;
   margin-bottom: 50px;
   border-radius: 100%;
   font-size: 4rem;
}

@media(max-width:767px) {
   .home.section-article {
      margin : 0;
      align-items: center;
      justify-items: center;
      
   }
   .home.section-graphic{
      align-items: center;
   }
   .home.section-graphic button{
      width: 200px;
      height: 200px;
   }
}


/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pages/destination/destination.css ***!
  \*****************************************************************************************/
.destination.section-graphic img{
    width: 30vw;
    min-width: 300px;
}

.destination.section-article {  
    margin-left: auto;
    align-items: center;
}

.destination.section-article article p{
    padding-right: 5vw;
}

.selecteds--planets{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selected--planet {
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1.4vw;
    font-weight: 500;
    letter-spacing: 5px;
    margin-right: 3vw;
}

.selected--planet input{
    display: none;
}

.selected--planet.selected {
    padding: 10px 0;
    border-bottom: 2px solid #fff;
 }
  
.destination.section-graphic .title-section {
    margin-right: auto;
    padding: 0 20px;
}

.destination.section-graphic{
    width: 50%;
}

.distance-planet{
    width: 80%;
    min-width: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 20px;
    border-top: 1px solid var(--green);
}

.distance-planet span{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 300;
    color : var(--green-while);
}
.distance-planet b{
    font-size: 2.7vw;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}

@media (max-width: 768px){
    .selecteds--planets{
       justify-content: space-evenly;
    }
    .destination.section-graphic img{
        min-width: 250px;
    }
    .selected--planet{
        font-size: 1.6rem;
        margin: 0;
        letter-spacing: 2px;
    }
    .distance-planet{
        margin: 0 auto;
    }
    .distance-planet b{
        font-size: 1.8rem;
    }
}

/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pages/crew/crew.css ***!
  \***************************************************************************/
.crew.title-section{
    width: 90%;
    height: 50px;
    align-self: flex-end;
}

.crew.section-article{
    padding-top:0 ;
}

.crew.section-article .title-section {
    margin-bottom: 50px;
    margin-top: 0;
}

.crew.section-article article p {
    padding: 0;
}
.selecteds-persons{
    width: 20%;
    min-width: 100px;
    display: flex;
    justify-content: space-between;
}

.selecteds-persons label {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--green);
    transition: 0.2s;
}

.selecteds-persons label input{
    visibility: hidden;
}

.selecteds-persons .active{
    transform: scale(1.2);
    background-color: var(--while);
    transition: 0.2s;
}

.crew.section-graphic {
    margin: 0;
}

.crew.section-graphic img{
    width: 50vw;
    max-height: 560px;
    object-fit: contain;
    align-self: end;
}

@media(max-width:767px){
    .crew.title-section{
        text-align: center;
        padding-bottom: 80px;
    }
    .selecteds-persons{
        align-self: center;
    }
    .crew.section-article{
        order: 2;
    }
    .crew.section-article article {
        order: 2;
    }
    .selecteds-persons{
        padding: 20px 0;
        order: 1;
    }
    .crew.section-graphic img{
        width: 250px;
    }
}
/*!***************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pages/tech/tech.css ***!
  \***************************************************************************/
.tech.section-article{
    display: flex;
    width: 60%;
}

.tech.section-graphic {
    width: 40%;
}

.tech.section-article article {
    padding-left: 35px;
}

.tech.section-article article p{
    padding: 0;
}

.tech.title-section{
    width: 100%;
}

.tech.section-graphic img {
    justify-self: end;
    width: 34vw;
    object-fit: contain;
    
}


.selecteeds-tech{
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.selecteeds-tech label{
    width: 80px;
    height: 80px;
    border: solid 2px var(--green);
    border-radius: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 3rem;
    font-family: 'PT Serif', serif;
}
.selecteeds-tech label input{
    display: none;
}

.selecteeds-tech label.active {
    background-color: var(--while);
    color: var(--green);
}

@media (max-width: 768px){
    .tech.section-article{
        width: 100%
    }
    .tech.section-article article {
        padding : 0;
    }
    .tech.section-graphic{
        width: 100% ;
    }
    
    .tech.section-graphic img {
        justify-self: center;
        width: 80%;
        min-whidth : 300px;
        justify-self : Center;
    }
    .tech.section-article {
        flex-direction: column-reverse;
    }
    .selecteeds-tech{
        width: 50vw;
        min-width: 250px;
        height: 80px;
        flex-direction: row;
    }
    .selecteeds-tech label {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 2rem;
    }
}
/*!************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/header/header.css ***!
  \************************************************************************************/
.header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header--menu-responsive{
    display: none;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 20px;
    margin: auto 0;
    margin-right: 15px;
}

.header .header--icon {
    max-width: 60px;
    min-width: 3px;
    height: auto;
    object-fit: contain;
    margin-left: 15px;
    position : relative;
}

.header .header--decoration {
    position: absolute;
    z-index: 4;
    top: 49.5%;
    left:12%;
    width: 30vw;
    height: 1px;
    margin: auto 0;
    background-color: #9f9bb1;
}

@media (max-width:977px){
    .header .header--decoration {
        display: none;
    }
}

.header .header--nav {
    width: 60%;
    min-width: var(--sm);
    height: 75%;
    margin: auto 0;
}


.header .header--nav .header-nav--close {
    display: none;
}


@media (max-width: 768px){
    .header .header--menu-responsive{
        display: block;
        width: 50px;
    }
    .header .header--menu-responsive.none{
        display: none;
    }
    
    .header .header--nav {
        display: flex;
        position: fixed;
        height: 100vh;
        min-width: 320px;
        top: 0;
        right: -100%;
        margin : 0; 
        z-index: 1;
        align-self: start;
        transition: 0.2s;
    }
    .header .header--nav.active {
        right: 0;
        transition: 0.2s;
    }
    
    .header .header--nav .header-nav--close {
        position: absolute;
        right: 0;
        margin: 30px;
        display: block;
        width: 30px;
        height: 30px;
        z-index: 1;
        

    }
    @media (max-width: 481px){
        .header .header--nav.active {
        width: 100vw;
        min-width: none;
    }
}
    
    .header .header--nav ul {
        flex-direction: column;
    }
    header.header .header--nav ul li a{
        font-size: 2.5rem;
    }
}

.header .header--nav ul {
    background-color: rgba(155, 155, 155, 0.092);
    backdrop-filter: blur(60px);
    width: 100%;
    height: 100%;
    margin : 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.header .header--nav ul li a{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.2s;
    text-decoration: none;
    color: var(--while);
    font-size: 1.6vw;
    font-weight: 500;
}

.header .header--nav ul li a.active{
    padding-bottom: 20px;
    border-bottom: solid 5px var(--while);
}
/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}


:root{
    --green : #666666;
    --green-light : #acacac;
    --while : #fff;

    /* brackpoints */
    --xxl: 1309px;
    --xl : 977px;
    --md : 768px;
    --sm : 481px;
}

body{
    width: 100%;
    min-height: 100vh;
    height: auto;

}


#root{
    width: 100%;
    height: auto;
    min-height: 100vh;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition : 0.2s
}   

.main-container{
    width: 100%;
    max-width: var(--xxl);
    margin: 0 auto; 
    padding: 0 5px;
    height: auto;
    min-height: 85vh;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
}

.section-article{
    padding: 70px 10px;
    width: 50%;
    min-width: 320px;
    height: 100;
    color: #fff;
    display: grid;
    align-items: center;
}

.section-graphic{
    width: 50%;
    height: auto;
    min-width: 220px;
    height: auto;
    display: grid;
    place-items: center;
    margin-bottom: 30px;
}



@media (max-width: 950px) {
    article.section-article{
        padding: 50px 20px ;

    }

}
@media (max-width: 767px) {
    .destination.section-graphic,.section-graphic,
    .crew.section-article{
        width: 100%;
        justify-items: center;
    }
    .main-container{
        padding: 0;
    }
    article.section-article{
        width: 100%;
        padding: 0 10vw;
        padding-bottom: 30px;
        margin: 0;
        justify-content: center;
        text-align: center;
    }
}
/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/fonts.css ***!
  \*****************************************************************/
.title-sm{
    font-size: 2vw;
    line-height: 4rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.title-name {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: 2.2vw;
    font-weight: 500;
    letter-spacing: 5px;
    color: var(--green-light);
    line-height: 4rem;
}

.title-xl {
    font-family: 'PT Serif', serif;
    font-size: 3.5vw;
    letter-spacing: 4px;
    font-weight: 300;
    text-transform: uppercase;
    
}

.title-md{
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: 11vw;
    line-height: 18rem;
    letter-spacing: 5px;
    font-weight: 300;
}

.section-article p {
    text-align: justify;
    padding-right: 10vw;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--green-light);
    
}

.title-planet {
    font-family: 'PT Serif', serif;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 5px;
}

.title-section {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2vw;
    line-height: 6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--while);
    letter-spacing: 5px;
    margin-bottom: auto;
    margin-top: 25px;
}

.title-section b {
    color: var(--green-light);
    font-weight: 500;
}

@media (max-width: 768px){
    .title-section{
        font-size: 1.6rem;
        line-height: 9rem;
        text-align: center;
        margin: 0 auto;
    }
    .title-sm{
        font-size: 3.5vw;
        font-weight: 600;
    }
    
    .title-name, .title-xl {
        text-align: center;
    }

    .destination.section-article article p,.section-article p {
        font-size: 1.6rem;
        padding: 0 ;
        margin: 20px;
        text-align: center;
    }
    
}
.home.section-graphic button{
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing:5px;
    color: rgb(48, 48, 48);
} 
